{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Messenger</h1>
        <h2>Rooms</h2>
        
        <ul>
            {% for room in rooms %}
                <li><a href="{% url 'room' room.pk %}">{{ room.title }}</a></li>
            {% empty %}
                <li>No rooms found.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'create_room' %}">Create a new room</a>

        <h2>Users</h2>
        <ul>
            {% for user in users %}
                <li><a href="{% url 'profile' %}">{{ user.username }}:{{ user.name }}</a></li>
            {% empty %}
                <li>No users found.</li>
            {% endfor %}
        </ul>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>